html {
    min-height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: url(../img/song.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

h1 {
    text-align: center;
    font-weight: 400;
}

h2 {
    text-align: center;
}

.content {
    max-width: 1100px;
    height: 100%;
    margin: 80px auto 80px;
    padding: 20px;
    background-color: white;
}

@media (min-width:768px) {
    .container {
        display: flex;
    }
    .container>div {
        flex: 1 0 50%;
    }
}

.search-form p {
    text-align: center;
}

.search-form span {
    color: red;
}

.input {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.input label {
    flex: 0 0 120px;
    margin-right: 1rem;
    text-align: right;
    font-weight: 700;
    text-transform: uppercase;
}

.input span {
    color: red;
}

.input input[type="text"] {
    display: flex;
    flex: 1;
    height: 2.5rem;
    padding: 1rem;
}

.submit {
    justify-content: flex-end!important;
    text-align: right;
}

.input input[type="submit"] {
    align-self: flex-end;
    padding: .5rem 2rem;
    border: none;
    background-color: #6f86d6;
    color: white;
    transition: background-color .3s ease-in-out;
}

.input input[type="submit"]:hover {
    background-color: #384e9d;
    cursor: pointer;
}

.error {
    padding: 1rem;
    border: 1px solid red;
    background-color: rgb(249, 121, 121);
    color: white;
}

#result {
    padding: 2rem;
    white-space: pre-wrap;
}